<!DOCTYPE html>  
<html>  
<head>  
 <meta charset="utf-8">  
 <title>英文字彙測驗破解</title>  
</head>  
<body>  
<h1><%= title %></h1>  

<p>製作: <a href="https://www.facebook.com/kaikailab/">Kai實驗室</a></p>  
<ul>  
<% for(var i=0; i<show.length; i++) {%>  
 <li>
   <p><%= show[i].que %></p>
   <p>翻譯：<%= show[i].trans %></p>
   <p>答案：<%= show[i].ans %> <%= show[i].transAns %></p>
</li>  
<% } %>  
</ul>  
</body>  
</html>  