<!DOCTYPE html>  
<html>  
<head>  
 <meta charset="utf-8">  
 <title>實作EJS</title>  
</head>  
<body>  
<h1><%= title %></h1>  
<p>製作: <a herf="https://www.facebook.com/Kai%E5%AF%A6%E9%A9%97%E5%AE%A4-Kai-Coding-Lab-853103361565977/?modal=admin_todo_tour">Kai實驗室</a></p>  
<ul>  
<% for(var i=0; i<show.length; i++) {%>  
 <li>
   <p><%= show[i].que %></p>
   <p>翻譯：<%= show[i].trans %></p>
   <p>答案：<%= show[i].ans %> <%= show[i].transAns %></p>
</li>  
<% } %>  
</ul>  
</body>  
</html>  